.navbar-container {
  /* full width */
  width: 100%;
  /* Fixed height */
  height: 160px;
  background-color: #8568ff;
  /* flex box */
  display: flex;
  float: right;
  flex-direction: row;
  justify-content: right;
  padding: 20px;
}
.navbar-left-container {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}
.small-left-container {
  margin-right: 50px;
  flex-grow: 1;
  padding-left: 2px;
  min-width: 60%;
  max-width: fit-content;
  align-items: left;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.navbar-right-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 50;
}
a:link,
a:visited {
  color: #000000;
  padding: 2px 2px;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: White;
}
a:active {
  background-color: Grey;
}
