.navbar-container {
  /* full width */
  width: 100%;
  /* Fixed height */
  height: 60px;
  background-color: #8568ff;
  /* flex box */
  display: flex;
}

.navbar-small-left-container {
  margin-left: auto;
  flex-grow: 1;
  min-width: 80%;
  max-width: fit-content;
  align-items: left;
  display: flex;
  justify-content: space-between;
}

.navbar-small-right-container {
  margin-left: auto;
  min-width: none;
  background-color: black;
  justify-content: space-evenly;
}
