.product-card {
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
  margin-bottom: 10%;
}

.image-box {
  float: left;
  padding: 2%;
}

.image {
  max-width: 200px;
  max-height: 200px;
}

/* .productinfo-box {
  border: solid black;
  background-color: rgb(209, 205, 246);
  justify-content: baseline;
  flex-direction: column;
  justify-content: space-around;
  float: right;
  height: 40%;
  width: 50%;
  padding: 2%;
}

.productinfo {
} */

/* .homepage-container {
    flex-direction: column;
  }
  .homepage-content {
    border: solid red;
    display: flex;
    margin-left: 15em;
    margin-right: 15em;
  }
  
  .top-banner {
    height: 500px;
    background-color: #937cf1;
  }
  
  
  .sidebar {
    float: left;
    width: 50%;
  }
  
  img {
    height: 300px;
    width: 300px;
  } */
