img {
  display: block;
  margin: 30px 20px;
  padding: 50px 25px;
  object-fit: cover;
  width: 14rem;
  height: 11rem;
  float: left;
  animation: spin 4s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-direction: normal;
  border-radius: 40px !important;
  border: 2px solid #555;
}

.card__ {
  box-shadow: 0px 0px 10px 5px color-gray300;
  border-radius: 40px !important;
  min-width: 28rem;
  display: flex;
}

.card__body {
  margin: 1rem;
}

.card__title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.card__description {
  line-height: 1.2rem;
}

.card__price {
  font-size: 13px solid black;

  text-align: left;
  margin-top: 10px;
}
.card__rating {
  font-size: 8px solid black;

  text-align: left;
  margin-top: 7px;
}

.card__btn {
  margin-right: 30px;
  background-color: rgb(162, 30, 174);
}
