.homepage-container {
  flex-direction: column;
}
.homepage-content {
  border: solid red;
  display: flex;
  margin-left: 10em;
  margin-right: 10em;
}

.top-banner {
  height: 500px;
  background-color: #937cf1;
}

.product-info {
  border: solid black;
  background-color: rgb(209, 205, 246);

  float: left;
  width: 80%;
}
.sidebar {
  float: left;
  width: 20%;
}

/* img {
  height: 200px;
  width: 200px;
} */
