.homepage-container {
  flex-direction: column;
}

.top-banner {
  height: 500px;
  background-color: #937cf1;
}
/* .Homepage-container {
    flex-direction: row;
  }
  
  .product-info {
    border: solid black;
    background-color: rgb(162, 244, 216);
    
  }
  
  img {
    height: 300px;
    width: 300px;
  } */
